<!DOCTYPE html>
<html>
        {% include('layout/header.html.twig') %}
    <body>
        {% include('layout/navbar.html.twig') %}
        <div class="container-fluid" >

            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if app.session.flashBag.has('warn') %}
                <div class="alert alert-warning">
                    {% for msg in app.session.flashBag.get('warn') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
        {% include('layout/footer.html.twig') %}
        {% block pageJs %}{% endblock %}
    </body>
</html>
